/* CSS Document */
*{
    padding:0; margin:0;
    font-family:sans-serif;
}
.blue{
    color:#335ECE;
}
.green{
    color:#008000;
}
.red{
    color:#C80A0A;
}
img{
    border:none;
}

.clr{
    clear:both;
}

a{
    outline: none;
}
.file_loader{
    width: 150px;
    height: 150px;
    background-image: url(images/ajax_loader.gif);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.place_thumb{
	
	border-radius:3px;
	width: 150px;
	height: 150px;
	background-size: cover;
	background-position: center;
}
a:hover{
    text-decoration:none;
}

body{
    background:#f2f2f2;
}
#to-all, .to-all-label{
	cursor:pointer;	
}
.to-all-label b{
	vertical-align: top;
}
.wrapper{
    width:1300px; 
    margin:0 auto; 
    background:#fff; 
}

.head{
    overflow:hidden; 
    border-bottom:3px solid #d8d7d7;
    background-color: #2ecc71;
}

.head p{
    font-size:12px; 
    float:right; 
    color:beige;; 
    margin:15px 30px 0 0;
}

.head p a{
    color:beige;
    text-decoration: none;
}

.logo {
    border-radius: 3px;
    display: block;
    float:left;
    background-image: url(images/velopark_bg.png);
    background-color: #2ecc71;
    width: 220px;
    height: 70px;
    background-size: cover;
    margin-left: 50px;
    margin-top: 20px;
}

.content-main{
    width:100%;
    overflow:hidden;
}	
.topBar{    
    padding: 20px 0 60px 30px;
    border-bottom: 2px solid #eee;
}

.nav-left{
    list-style:none; 
    font-size:14px; 
    color:#283964;
}

.nav-left li{	
    margin:10px 20px 0 0;
    float: left;
}

.nav-left li a{
    color: #229C55;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.nav-left ul{
    list-style:none; 
    margin:0 0 10px 15px; 
    font-size:14px;
}

.nav-left ul li{
    margin:5px 0 0 0;
}

.content{
    padding:20px 0 30px 0; 
    margin:0 30px 0 30px; 
    position:relative;
}

.add, .save,#upload-image{
    display: block;
    background-color: #2ecc71;
    width: 120px;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    text-transform:uppercase;
	cursor:pointer;
}
textarea.head-text{	
	height: 100px;
	
}
.content h2{
    font-size:18px; 
    color:#777; 
    margin:0 0 20px 0;
    text-transform: uppercase;
}

.tabl{
    background:#f7f7f7; 
    width:100%; 
    font-size:14px; 
    color:#555555; 
    margin:0 0 20px 0;
}
.tabl tr:first-child{
	    background-color: #2ecc71;
}
.tabl tr:nth-child(odd) td{
	background:#f7f7f7; 
}
.tabl tr:nth-child(even) td{
	background:#ffffff; 
}
a.edit{
    color:#335ECE;
    text-transform: uppercase;
}
.upper{
    text-transform: uppercase;
}
a.del{
    color:#C80A0A;
    text-transform: uppercase;
}
a.confirm{
    color:#008000;
    text-transform: uppercase;
}
a.vote{
    color:#008000;
    text-transform: uppercase;
}
.add_edit_page label{
    text-transform: uppercase;
}
.add_edit_page td{
	vertical-align:top;
}
.tabl th{
    padding:5px 0;
}

.tabl td{
    text-align:left;
    background:#ffffff; 
    padding:7px 10px;
    line-height: 24px;
}
	
.add_edit_page{
    font-size: 14px; 
    color:#666666; 
    width:100%; 
    border:0;
}

.add_edit_page td{
    padding:8px 10px 8px 0;
}

.head-text{
    border:1px solid #666666; 
    height:20px; 
    width:320px; 
    padding:0 10px; 
    font-size:12px; 
    color:#666;
}

.add-edit-txt{
    width:155px;
	vertical-align:top;
}

.pager{
    list-style:none; 
    overflow:hidden;
}

.pager li{
    float:left;
}

.pager li a{
    display:block; 
    border:1px solid #ccc; 
    padding: 3px 10px 5px; 
    color:#3a60bf; 
    font-size:14px; 
    margin:0 15px 0 0;
}

.pager li a.now{
    display:block; 
    border:1px solid #ccc; 
    padding: 3px 10px 5px; 
    background:#3a60bf; 
    color:#fff; 
    font-size:14px;
}

.error{
    margin-top:5px;
    border:1px solid #765858;
    background:#ffeded !important;
    color:#7f5354 !important;
    padding:3px;
	margin-bottom:10px;
}

.success{
    margin-top:5px;
    border:1px solid #adc092;
    background:#f0faf1 !important;
    color:#58715e !important;
    padding:3px;
	margin-bottom:10px;
}

/*#upload-image{
    width: 120px;
    height: 20px;
    background-color: #2ecc71;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}*/

.enter-admin{
    display: block;
    background-color: #2ecc71;
    width: 80px;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
	text-transform: uppercase;
}

.enter{
    font-size:14px; 
    color:#545555; 
    text-align: center;
    margin: 150px auto 50px auto;
    padding: 0 0 150px 0;
}

.enter td{
    padding:5px;
}
.enter form{
    display: inline-block;
}
.pagination{
    text-align:center;
    margin: 20px;
}
a.nav_active{
    border: 1px solid #ccc;
    background-color: #2ecc71;
    color: #fff;
    padding: 5px 7px;
    margin: 0 2px;
}
a.nav_link{
    padding: 5px 7px;
    border: 1px solid #ccc;
    text-decoration: none;
    margin: 0 5px;
    color: #777;
}
a.nav_link:hover{
    background-color: #2ecc71;
    color: #fff;
}



.correct_h_flip .place_thumb{
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);
}

.correct_v_flip .place_thumb{
    -webkit-transform: scaleY(-1); 
    transform: scaleY(-1);
}

.correct_180_rot .place_thumb{
    -webkit-transform: rotate(180deg); 
    transform:rotate(180deg);
}

.correct_v_flip_90_rot .place_thumb{
    -webkit-transform:rotate(90deg) scaleY(-1);
    transform:rotate(90deg) scaleY(-1);
}

.correct_90_rot .place_thumb{
    -webkit-transform: rotate(90deg); 
    transform:rotate(90deg);
}

.correct_h_flip_90_rot .place_thumb {
    -webkit-transform:rotate(90deg) scaleX(-1);
    transform:rotate(90deg) scaleX(-1);
}

.correct_90_rot_left .place_thumb{
    -webkit-transform: rotate(-90deg); 
    transform:rotate(-90deg);
}

